footer {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        gap: 3rem;
        padding: 2rem;
        margin-bottom: 2rem;
        
      }
.logo{
        width: 6rem;
        transition: all .2s ease 0s;
      }
.logo:hover {
        transform: scale(1.2);
      }
      
.arrow{
        width: 2.5rem;
        transition: all .2s ease 0s;
        
      }
.arrow:hover {
        transform: scale(1.4);
      }
.nav_links{
        list-style:none;
        display: flex;
        justify-content: center;
        align-items: center; /*this aligns the arrows to the center of the logo*/
        padding: 0; /* Remove default padding */
        margin: 0; /* Remove default margin */
      }
/* Aligns the arrows and logo horizontally */
.nav_links li{
        display: flex;
        align-items: center;
        padding: 0 1rem;
      }
      /* removing the underline of the link */
      a.resume-link {
        text-decoration: none;
      }
/* SOCIAL MEDIA ICONS */
.footer-social-icons{
        display: flex;
        gap: 30px;   
        font-size: 1.6rem;
        margin-bottom: 1.2rem;
    }
.icon{
        display: flex;
        justify-content: center;
        align-items: center;
        width: 4rem;
        height: 4rem;
        border-radius: 50%;
        box-shadow: 0px 2px 5px 0px rgba(0, 0, 0, 0.25);
        cursor: pointer;
        color:black;
        background-size: 200% 100%;
        background-position-x: 150%;
        transition: all 0.15s;
    }
.icon:hover{
        scale: 1.1;
        text-decoration: none;
    }