@import url('https://fonts.googleapis.com/css2?family=Lato:ital,wght@0,100;0,300;0,400;0,700;0,900;1,100;1,300;1,400;1,700;1,900&display=swap');

body {
    font-family: "Lato", sans-serif;
    background-color: #F7FAFC;
    color: #2C3E50;
    margin: 0;
}
main {
    /*  Clamp Function */
    /*  Minimum width: 30ch (character units) */
    /*  Preferred width: 80% of the viewport width */
    /*  Maximum width: 700px */
    width: clamp(30ch, 80%, 700px);
    margin: 0 auto; /* Center the content horizontally */
    text-align: left; /* keep text aligned to left*/

    padding: 2rem; /* Add some padding around the content */
}
/*ul {
    list-style: none;
    padding: 0;
    margin: 0;
    display: flex;
    flex-wrap: wrap;
  }
  ul li {
    display: inline;  Important: Treat list items as inline elements 
}  
/*
ul li:not(:last-child)::after {
    content: " / ";
    padding: 0 .5rem; Add padding to create even spacing 
    white-space: nowrap; added for android chrome browser
  }
  */

/* Semantic list with tag-style visual appearance */
.skills-list {
    padding: 0;
    margin: 0;
    list-style: none;
    display: flex;
    flex-wrap: wrap;
    gap: 8px;
}

.skills-list li {
    background-color: #f0f0f0;
    padding: 5px 10px;
    border-radius: 3px;
    font-size: 0.9rem;
}
.whereWhen{
display: flex;
justify-content: space-between;
align-items: flex-start;
align-self: stretch;
margin-bottom: 1rem;
}
@media (max-width: 576px) {
    .whereWhen {
        flex-direction: column;
        gap: 0.5rem; /* Adds space between the stacked elements */
    }
}
h2 {
font-size: 40px;
font-style: normal;
font-weight: 300;
line-height: 48px; /* 120% */
margin: 0 0 0.5rem 0;
}
h1 {
    font-size: 56px;
    font-style: normal;
    font-weight: 400;
    line-height: 64px; /* 114.286% */
    letter-spacing: -1.12px;
    margin: 0 0 1rem 0;
}
p {
    margin:0;
    line-height: 1.6;
}
.ptitle{
    margin-bottom: 1rem;
}
section{
    margin-bottom: 4rem;
} 
li{
    line-height: 1.4;
    margin-bottom: 0.5rem;
}