/* This style if for the resume button */
.btn-primary{
    background-color: #4E6891;
    color: white;
    padding: .5rem 1rem;
    font-size: 1rem;
    border: none;
    border-radius: 16rem;
    cursor: pointer;
    background-image: linear-gradient(
        -60deg,
        #ffffff00 0%,
        #ffffff00 40%,
        #ffffff44 40%,
        #ffffff44 60%,
        #ffffff00 60%,
        #ffffff00 100%
    );
    background-size: 200% 100%;
    background-position-x: 150%;
    transition: all 0.15s;

    /* TO STYLE FOR ICON WORD CENTERING */
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 0.5rem;
}
.btn-primary:hover{
    animation: shimmer 1s forwards;
    scale: 1.1;
    text-decoration: none;
}
@keyframes shimmer {
    0% {
        background-position-x: 150%;
    }
    100% {
        background-position-x: -50%;
    }
}