

/* GLOBAL STYLES 
---------------------------------*/
body {
  color: #343434;
}
img {
  width: 300;
}


/* PROFILE 
---------------------------------*/
header{
  background: #2F3061;
  ]



/* PROJECTS 
---------------------------------*/




/* WORK EXPERIENCE 
---------------------------------*/




/* EDUCATION
---------------------------------*/

/* CONTACT INFO
---------------------------------*/
