

/* GLOBAL STYLES 
---------------------------------*/
body {
  color: #343434;
}
img {
  width: 300;
}


/* PROFILE 
---------------------------------*/
header{
  background: #2F3061;
}



/* PROJECTS 
---------------------------------*/
.projects {
  background: #F7FFF7;
}



/* WORK EXPERIENCE 
---------------------------------*/
.work-experience{
  background: #A1C6D7;
}



/* EDUCATION
---------------------------------*/
.education{
  background-image: 
}


/* CONTACT INFO
---------------------------------*/
